.FilterYear {
  width: 200px;
}

.FilterYear > label, .FilterYear > div > input {
  font-size: 20px;
  font-family: 'Oswald',sans-serif;
  align-items: center;
  color: var(--dark-grey);
}

.FilterYear > div > input {
  height: 56px;
  box-sizing: border-box;
}